.heading{
	border:2px solid gray;
	background-color:#2f8899;
	box-shadow : 10px 10px 5px #888 ;
	width:100%;
	position: fixed;
	top:0px;
	left:0px;
	opacity : 1;
	overflow:ellipsis;
	font-size:;
	text-overflow:ellipsis;
}

#CN{
	position : absolute;
	top:30px;
	left:300px;
	font-size : 2.48rem;
	color : #FFF;
}
#subh{
	position:relative;
}
* { margin:0; padding:0; }

#div2{
	border:2px solid gray;
	background-color:lightsteelblue;
	width:100%;
	position:relative;
	top:133px;
	left:0px;
	right:0px;
}

#table{
	background-color:rgb(14,41,45);
	color:#FFF;
	border-collapse:collapse;
	width:100%;
	position:fixed;
	top: 150px;
	left:0px;
	right:0px;
	font-size : 100%;
}

table,th,td{
	border:2px solid gray;	
}
